

<div class="mb-3">
    <label for="rentId" class="form-label">Rental ID</label>
    <input type="text" id="rentId" class="form-control" >
</div>

<div class="mb-3">
    <label for="rentalDate" class="form-label">Rental Date</label>
    <input type="date" id="rentalDate" class="form-control" >
</div>

<div class="mb-3">
    <label for="returnDate" class="form-label">Return Date</label>
    <input type="date" id="returnDate" class="form-control" >
</div>

<div class="mb-3">
    <label for="dueDate" class="form-label">Due Date</label>
    <input type="date" id="dueDate" class="form-control" >
</div>

<div class="mb-3">
    <label for="totalCost" class="form-label">Total Cost</label>
    <input type="text" id="totalCost" class="form-control" >
</div>

<div>
    <button type="button" class="btn btn-primary m-2" >Add</button>
    <button type="button" class="btn btn-success m-2" >Update</button>
    <button type="button" class="btn btn-danger m-2" >Delete</button>
    <button type="button" class="btn btn-secondary m-2">Search</button>
</div>